<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>New User</h1>
        <h2>Enter your data and start saving!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="input-username">Your Username:</label>
            <input type="text" id="input-username" class="form-control" aria-describedby="input-username" placeholder="Enter Your Username">
          </div>
          <div class="form-group">
            <label for="input-balance">Your Current Balance/Savings:</label>
            <input type="text" id="input-balance" class="form-control" aria-describedby="input-balance" placeholder="Enter Your Current Balance">
          </div>
          <div class="form-group">
            <label for="input-income">Your Average Weekly Income:</label>
            <input type="text" id="input-income" class="form-control" aria-describedby="input-income" placeholder="Enter Your Estimated Weekly Income">
          </div>
          <div class="form-group">
            <label for="input-goaldescr">Your Goal Description:</label>
            <input type="text" id="input-goaldescr" class="form-control" aria-describedby="input-goaldescr" placeholder="Enter The Name Of Your Financial Goal">
          </div>
          <div class="form-group">
            <label for="input-goalamount">Your Goal Cost:</label>
            <input type="text" id="input-goalamount" class="form-control" aria-describedby="input-goalamount" placeholder="Enter The Dollar Value Of Your Financial Goal">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<a href="/">← Back To Home</a>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
