<section class="hero is-success is-fullheight">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
              <div class="box">
                <figure class="avatar">
                  <img src="images/1659170386_4649aca8-2922-4ee9-a6d1-e10dca02ebf7.png">
                </figure>
                    
                <form class="signup">
                  <div class="field">
                    <input type="email" class="input is-large" id="email-input" placeholder="Email">
                  </div>
                  <div class="field">
                    <input type="password" class="input is-large" id="password-input" placeholder="Password">
                  </div>
                  <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                  </div>
                  <button type="submit" class="btn button is-block is-info is-large is-fullwidth">Sign Up</button>
                </form>
                <br />
                <p>Or log in <a href="/login">here</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
